* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #f1db87;
}

header {
  background-color: #eacc86;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1rem 2rem;
}

header h1 {
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

nav a {
  color: #000;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #e2e3da;
}

#inicio {
  padding: 5rem 2rem;
  text-align: center;
  background-color: #f3e4a5;
}

#inicio h2 {
  margin-bottom: 1rem;
}

#sobre-mi {
  padding: 4rem 2rem;
  background-color: #fff;
  color: #333;
}

#sobre-mi h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #000;
}

#habilidades {
  background-color: #f3e4a5;
  padding: 4rem 2rem;
  text-align: center;
}

.contenedor-habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.habilidad {
  background-color: #fff;
  border: 2px solid #f3e08c;
  border-radius: 10px;
  padding: 1rem 2rem;
  width: 250px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.habilidad:hover {
  transform: scale(1.05);
  background-color: #e2e3da;
}

#proyectos {
  background-color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

.proyecto {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 2px solid #f3e08c;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.proyecto img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #f3e08c;
}

#contacto {
  background-color: #f3e4a5;
  padding: 4rem 2rem;
  text-align: center;
}

#contacto aside {
  max-width: 800px;
  margin: 0 auto 1rem auto;
  background-color: #fff;
  border-left: 4px solid #eacc86;
  padding: 1rem;
  border-radius: 6px;
  text-align: left;
}

form {
  max-width: 800px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: left;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid #f3e08c;
  border-radius: 8px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #eacc86;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.boton {
  background-color: #eacc86;
  color: #000;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  display: inline-block;
}

footer {
  background-color: #eacc86;
  color: #000;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}


nav ul {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

nav ul li {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
