* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; 
  line-height: 1.6; 
  color: #333; 
  background-color: #ffffff; 
}

a {
  text-decoration: none; 
  color: #333; 
}

a:hover {
  color: #e85a8e; 
}